* {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
  color: white;
  max-height: 92.5vh;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(135deg, #1d976c, #93f9b9);
  background-size: 400% 400%;
}

h1 {
  text-align: center;
  font-family: "Montserrat", cursive;
  font-weight: 700;
  margin: 17px 0 0;
}

.list {
  padding: 17px 0 0 10px;
}

.station-status-msg {
  padding-bottom: 10px;
}