* {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
  color: white;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: linear-gradient(135deg, #1D976C, #93F9B9);
  background-size: 400% 400%;
}

#center {
  border: 5px solid;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 10px;
}

h1 {
  text-align: center;
  font-family: "Montserrat", cursive;
  font-weight: 200;
  margin: 13px 0 0;
}

/* #list {
  position: absolute;
  top: 30%;
  display: flex;
  flex-direction: column;
} */

.list {
  padding: 16px 0 0 10px;
}

/* @-webkit-keyframes AnimationName {
  0%{background-position:1% 0%}
  50%{background-position:99% 100%}
  100%{background-position:1% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:1% 0%}
  50%{background-position:99% 100%}
  100%{background-position:1% 0%}
}
@keyframes AnimationName {
  0%{background-position:1% 0%}
  50%{background-position:99% 100%}
  100%{background-position:1% 0%}
} */